.custom-control-lg .custom-control-label::before,
.custom-control-lg .custom-control-label::after {
    top: 0.1rem !important;
    left: -2rem !important;
    width: 1.25rem !important;
    height: 1.25rem !important;
}

.custom-control-lg .custom-control-label {
    margin-left: 0.5rem !important;
    font-size: 1rem !important;
}

.icons{
    font-family: "Segoe UI Symbol";
}

.ul-stuff{
    padding-top: 15px;
    height: 100%;
    border-top: 1px black solid;
}

.card-trash .gu-transit{
    display: none;
}