<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous" defer></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous" defer></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/draKulaba.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        {% include 'navigation.html' %}
    </nav>
    <body>
        <div id="modals">
            {% include 'user_modals.html' %}
            {% include 'board_modals.html' %}
        </div>

        <div class="container">
            <h1>
                ProMan
                {% if login_data['username'] %}<button class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#create-board">New board</button>{% endif %}
            </h1>
            <div class="accordion" id="boards">
            </div>
        </div>
        <div id="templates">
            {% include 'templates.html' %}
        </div>
        <div id="user-data" data-username="{{ login_data['username'] }}" data-user-id="{{ login_data['user_id'] }}"></div>
    </body>
</html>