<div class="modal fade" id="create-board" tabindex="-1" role="dialog" aria-labelledby="create-board-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-board-label">Create board</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form id="create-board-form">
                    <div class="form-group">
                        <input name="title" type="text" class="form-control" id="board-title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="board-is-public" name="is-public">
                            <label class="custom-control-label" for="board-is-public">Public board</label>
                        </div>
                    </div>
                    <div id="board-create-error"></div>
                    <button type="button" class="btn btn-success btn-block" id="send-board-button">CREATE</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-board-confirmation" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <span class="text-info" id="delete-board-name">%</span>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-board-ok" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="create-card" tabindex="-1" role="dialog" aria-labelledby="create-card-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-card-label">Create card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-card-form">
                    <input value = "x" type="hidden" id="card-form-board-id" name="data">
                    <div class="form-group">
                        <input name="title" type="text" class="form-control" id="card-title" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                        <select id="card-status" class="custom-select">
                          <option value="1" selected>Select status</option>
                          <option value="1">New</option>
                          <option value="2">In progress</option>
                          <option value="3">Testing</option>
                          <option value="4">Done</option>
                        </select>
                    </div>
                    <div id="card-create-error"></div>
                    <button type="button" class="btn btn-success btn-block send-card-button" id="send-card-button">CREATE</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="archived-cards" tabindex="-1" role="dialog" aria-labelledby="archived-cards-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="archived-cards-label">Archived cards</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="archived-cards-list">
                    No archived cards for this board.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create-status" tabindex="-1" role="dialog" aria-labelledby="create-status-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-status-label">Add status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-status-form">
                    <input value = "x" type="hidden" id="status-form-board-id" name="data">
                    <div class="form-group">
                        <input name="title" type="text" class="form-control" id="status-title" placeholder="Status" required>
                    </div>
                    <div id="status-create-error"></div>
                    <button type="button" class="btn btn-success btn-block" id="send-status-button">ADD</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="settings-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settings-modal-label">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="settings-form">
                    <div class="form-group">
                        <label for="refresh-period">Refresh period: <span id="refresh-period-display">15 seconds</span></label><br>
                        <input name="refresh_period" type="range" class="form-control" id="refresh-period" min="0" max="5" step="1" value="0">
                    </div>
                    <div id="settings-error"></div>
                    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
