<div id="template-board" hidden>
    <div class="card board-card" id="template-board-main-card" style="margin-top: 15px;">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-decoration: none;">
                                ▼
                            </button>
                            <button class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#create-status">New status</button>
                            <button class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#create-card">New card</button>
                            <input type="text" class="board-title h1 border-0 bg-transparent mb-0 align-bottom ml-1" data-title="Title" value="Title">
                        </td>
                        <td class="text-right">
{#                            <button class="btn btn-outline-warning" type="button" data-toggle="modal" data-target="#edit-board">✎</button>#}
                            {% if login_data['username'] %}<button class="btn btn-outline-danger btn-board-delete" type="button">✘</button>{% endif %}
                        </td>
                    </tr>
                </table>
            </h2>
        </div>

        <div id="collapseOne" class="card-body collapse show" aria-labelledby="headingOne" data-parent="#boards">
            <div class="card-deck-space">
                <div class="card-deck">
                </div>
            </div>
            <div class="text-center" style="margin-top: 15px;margin-left: 0; margin-right: 0;">
                <div class="card bg-primary border-danger card-trash ">
                    <h1 class="icons">🗑️</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="template-status" hidden>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title h3" data-status-id-title="1">Template</h3>
        </div>
        <ul class="list-group list-group-flush status ul-stuff" data-status-id="1">
        </ul>
    </div>
</div>