<div class="modal fade" id="user-login" tabindex="-1" role="dialog" aria-labelledby="user-login-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="user-login-label">Login Now!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form id="login-form">
                    <input value = "login" type="hidden" name="type">
                    <div class="form-group">
                        <input name="username" type="text" class="form-control" id="login-username" placeholder="Username" autocomplete="username">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control" id="login-password" placeholder="Password" autocomplete="current-password">
                    </div>
                    <button type="button" class="btn btn-success btn-block" id="login-button">LOGIN</button>
                </form>
            </div>
            <div class="modal-footer">
                <div class="container text-center">Not a member yet? <a id="user-register-button" href="javascript:void(0)">Register here</a>.</div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="user-register" tabindex="-1" role="dialog" aria-labelledby="user-register-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="user-register-label">Signup Now!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form id="register-form">
                    <input value = "register" type="hidden" name="type">
                    <div class="form-group">
                        <input name="username" type="text" class="form-control" id="register-username" placeholder="Username" autocomplete="username">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control" id="register-password" placeholder="Password" autocomplete="current-password">
                    </div>
                    <button type="button" class="btn btn-success btn-block" id="register-button">Create Account</button>
                </form>
            </div>
            <div class="modal-footer">
                <div class="container text-center">Already registered? <a id="user-login-button" href="javascript:void(0)">Login here</a>.</div>
            </div>
        </div>
    </div>
</div>